.header-wrapper {
	align-items: center;
	background-color: #D5DFFF;;
	display: flex;
	padding: 5px 10px;
	height: 60px;
	box-shadow: 0 0 2px 1px;
	gap: 5px;
	text-align: center;
}

.header-menu {
	flex: 1;
}

.header-logo {
	flex: 2;
}

.header-search {
	flex: 2;
}

.header-login {
	flex: 1;
}

.header-cart {
	flex: 1;
}

.header-search-input {
	padding: 5px 5px;
	width: 100%;
	border: solid 1px lightgray;
	border-radius: 3px;
	font-size: small;
	outline: none;
}


.header-login-button{
	text-decoration: none;
}

.header-cart-button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: large;
}

.header-logo-img{
	max-width: 100%;
}


@media screen and (max-width: 600px) {
  .header-wrapper {
		flex-direction: column;
		height: auto;
		padding: 5px 10px;
  }

	.header-search {
		width: 90%;
		margin-top: 10px 0px;
	}

	.header-menu {
		position: relative;
		top: 150px;
		right: 100px;
	}

	.header-cart-button {
		position: relative;
		bottom: 35px;
		left: 90px;
	}
	.header-login {
		position: relative;
		right: 5px;
		margin-top: 20px;

	}
}


