.header-wrapper {
	align-items: center;
	background-color: #D5DFFF;
	color: #2F1C6A;;
	display: flex;
	margin-bottom: 15px;
	padding: 5px 10px;
	height: 40px;
	box-shadow: 0 0 3px 1px;
}
.header-menu{
	flex: 1;
}

.header-logo {
	flex: 1;
}

.header-search {
	flex: 2;
}

.header-search-input {
	padding: 5px 5px;
	width: 100%;
	border: solid 1px lightgray;
	border-radius: 3px;
	font-size: small;
	outline: none;
}

.header-logo-text {
	font-size: medium;
}

.header-options {
	display: flex;
	flex: 1;
	justify-content: space-around;

}

.header-login-button{
	color:  #2F1C6A;;
	text-decoration: none;
}

.header-cart-button {
	background: none;
	border: none;
	color:  #2F1C6A;;
	cursor: pointer;
	font-size: medium;
}

@media screen and (max-width: 576px) {
  .header-wrapper {
		flex-direction: column;
		height: auto;
  }

	.header-search {
		width: 90%;
		margin-top: 10px 0px;
	}

	.header-options {
		position: absolute;
		right: 10px;
		top: 8px;
	}
}
